<div class="row">
	<div class="col-xs-3">
		<%= render 'users/user_info', user: current_user, new_book: @new_book %>
	</div>
	<div class="col-xs-9">
		<h2>Users</h2>
		<table class="table">
			<thead>
				<tr>
					<th class="i-user-img">image</th>
					<th>name</th>
					<th class="i-user-link"></th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td class="i-user-img"><%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback:'no_image.jpg', size:'40x40' %></td>
						<td><span class="td-center"><%= user.name %></span></td>
						<td class="i-user-link"><%= link_to 'Show', user_path(user), class:"td-center" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>