// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index */
.font-family {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
}

.index-btn {
	width: 88%;
	margin: 0 auto;
	lettet-spacing: 0.8em;
}

/* about */
