// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* commom */
.td-center {
	height: 40px;
	line-height: 40px;
}


/* show */
.s-user-img {
	width: 30%;
}

.s-user-title {
	width: 25%;
}

/* index */
.i-user-img {
	width: 27%;
}

.i-user-link {
	width: 24%;
}